<div>
  <!-- navbar -->
  <div style="padding: 20px 60px; background-color: #0c3c60; color: white;">
    <div class="row">
      <div class="row col-sm-5" style="place-content: center;">
        JAMES CONSULTING
      </div>
      <div class="row col-sm-7" style="text-align: center;">
        <div class="col">About</div>
        <div class="col">Services</div>
        <div class="col">Projects</div>
        <div class="col">Clients</div>
        <div class="col">Contact</div>
        <div class="col">Log In</div>
      </div>
    </div>
  </div>

  <div>
    <!-- image -->
    <div>
      <img class="gambarBackground" src="../assets/gambar/mine-2.jpg">
    </div>
    <!-- <div class="text-block">
          <p>Developing Innovative Strategies</p>
          <h4>Achieving Grow</h4>
        </div> -->

  </div>

  <!-- gambar abu  -->
  <div class="deskripsi">
    <div class="device-mobile">
      <div class="data-mesh">
        <div class="text-block">
          <p class="font-6">DEVELOPING INNOVATIVE STRATEGIES</p>
          <h4 class="font-3">ACHIEVING GROWTH</h4>
        </div>
      </div>
    </div>
  </div>

  <!-- 3 achievment -->
  <div class="row " style="background-color: white; padding: 50px; ">

    <div class="col-2"></div>

    <div class="row col-8">
      <div class="col" style="padding: 10px; background-color: #0c3c60; color: white;">
        <div class="div-pembungkus" style="padding: 10px; ">
          <div class="com-1">Service</div>
          <div>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double
            click me to add your own content and make changes to the font. I’m a great place for you to tell a story and
            let asdf your users know a little more about you.</div>
          <div class="com-3">
            <a class="box-pointer" href="">
              <span class="inside-pointer">
                more info
              </span>
            </a>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="div-pembungkus" style="padding: 10px; background-color: #0c3c60;">
          <div class="com-1">Service</div>
          <div>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double
            click me to add your own content and make changes to the font. I’m a great place for you to tell a story and
            let asdf your users know a little more about you.</div>
          <div class="com-3">
            <a class="box-pointer" href="">
              <span class="inside-pointer">
                more info
              </span>
            </a>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="div-pembungkus" style="padding: 10px; background-color: #0c3c60;">
          <div class="com-1">Service</div>
          <div>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double
            click me to add your own content and make changes to the font. I’m a great place for you to tell a story and
            let asdf your users know a little more about you.</div>
          <div class="com-3">
            <a class="box-pointer" href="">
              <span class="inside-pointer">
                more info
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-2">

    </div>
  </div>

  <div class="warna-about">
    <!-- About -->
    <div>About</div>
    <div>
      <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click
        me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your
        page. I’m a great place for you to tell a story and let your users know a little more about you.</p>
      <p>This is a great space to write long text about your company and your services. You can use this space to go
        into a little more detail about your company. Talk about your team and what services you provide. Tell your
        visitors the story of how you came up with the idea for your business and what makes you different from your
        competitors.</p>
    </div>
    <div>
      <button>
        Read More
      </button>
    </div>
  </div>

  <div>
    <!-- contact us -->
    <div>
      contact us
    </div>
    <div class="row">
      <div>
        peta
      </div>
      <div>
        <form action="">
          
        </form>
      </div>

    </div>
  </div>


</div>


<router-outlet></router-outlet>